<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <pages>
        <namespaces>
          <add namespace="C9Rss.Public.Domain.RssReader.Model"/>
        </namespaces>
      </pages>
    </system.web>
  <appSettings>
    <add key="C9BloggRssUrl" value="http://feeds.feedburner.com/cloudnineinternal?format=xml"/>
    <add key="C9BloggEntityKey" value="entry"/>
    <add key="PageSize" value="5"/>
  </appSettings>
</configuration>
